body {
    background: black;
    color: white;
}

td, th {
    padding: 8px;
}

td {
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

th {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}